Host 10.13.0.*
  User            n388mm
  IdentityFile    ./.ssh/gcloud.pri
  ProxyCommand    ssh -W %h:%p -i ./.ssh/gcloud.pri %r@34.67.148.183

Host bastion
  HostName        34.67.148.183
  User            n388mm
  IdentityFile    ./.ssh/gcloud.pri
  ControlMaster   auto
  ControlPath     ./.ssh/ansible-%r@%h:%p
  ControlPersist  5m
