Host 10.13.0.*
  User            n388mm
  IdentityFile    ./.ssh/gcloud.pri
  ProxyCommand    ssh -W %h:%p -i ./.ssh/gcloud.pri %r@35.232.119.163

Host bastion
  HostName        35.232.119.163
  User            n388mm
  IdentityFile    ./.ssh/gcloud.pri
  ControlMaster   auto
  ControlPath     ./.ssh/ansible-%r@%h:%p
  ControlPersist  5m
