Host 10.13.0.*
  User            n388mm
  IdentityFile    ./.ssh/gcloud.pri
  ProxyCommand    ssh -W %h:%p -i ./.ssh/gcloud.pri %r@104.155.149.205

Host bastion
  HostName        104.155.149.205
  User            n388mm
  IdentityFile    ./.ssh/gcloud.pri
  ControlMaster   auto
  ControlPath     ./.ssh/ansible-%r@%h:%p
  ControlPersist  5m
